[Unit]
Description=HP Scoreboard Service
After=network.target

[Service]
WorkingDirectory=/home/matt/hpscoreboard
Environment="PATH=/home/matt/hpscoreboard/venv/bin"
ExecStart=/home/matt/hpscoreboard/venv/bin/python /home/matt/hpscoreboard/server.py
Restart=always

[Install]
WantedBy=multi-user.target
