body {
    background: #c4df9b;
    ffefwf-color: #2c2f36;
    color: #2a436b;
    font-family: 'Lato', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #82c298;
    padding: 10px;
}

.grid-item {
    background-color: white;
    border: 1px solid #82c298;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2.5em;
}

p {
    font-size: 2.2em;
}

label {
    font-size: 2.2em;
}

a {
    font-size: 2.2em;
}

p a {
    font-size: 1em;
}

footer {
    font-size: 0.5em;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}