<h3>{{ team_name }}</h3>
<p>Score: {{ score }}</p>
<hr/>
<p>Members:</p>
<ul>
{% for member in members %}
    <li>{{ member }}</li>
{% endfor %}
</ul>
<hr/>
<p>Completed challenges:</p>
<ul>
{% for challenge in challenges_done %}
    <li>{{ challenge }}</li>
{% endfor %}
</ul>
<hr/>
<p>Challenges in progress:</p>
<ul>
{% for challenge in challenges_working %}
    <li>{{ challenge }}</li>
{% endfor %}
</ul>
<hr/>
<form method="POST">
    <label for="member_add">Add member to team:</label>
    <input type="text" id="member_add" name="member_add">
    <br/>
    <label for="member_remove">Remove member from team:</label>
    <input type="text" id="member_remove" name="member_remove">
    <br/>
    <button type="submit">Go!</button>
</form>