<h3>{{ team_name }}</h3>
<p>Score: {{ score }}</p>
{% if auth %}
<a href="/admin">Go back</a>
{% endif %}
<hr/>
{% if members %}
    <p>Members:</p>
    <ul>
    {% for member in members %}
        <li>{{ member }}</li>
    {% endfor %}
    </ul>
    <hr/>
{% endif %}
{% if challenges_done %}
<p>Completed challenges:</p>
<ul>
    {% for challenge in challenges_done %}
        <li>{{ challenge }}</li>
    {% endfor %}
</ul>
<hr/>
{% endif %}
{% if challenges_working %}
    <p>Challenges in progress:</p>
    <ul>
    {% for challenge in challenges_working %}
        <li><a href="/challenges/{{ challenge }}">{{ challenge }}</a></li>
    {% endfor %}
    </ul>
    <hr/>
{% endif %}
{% if auth %}
<form method="POST">
    <label for="member_add">Add member to team:</label>
    <input type="text" id="member_add" name="member_add">
    <br/>
    <label for="member_remove">Remove member from team:</label>
    <input type="text" id="member_remove" name="member_remove">
    <br/>
    <label for="challenge_add">Add challenge:</label>
    <input type="text" id="challenge_add" name="challenge_add">
    <br/>
    <label for="challenge_finish">Mark challenge as done:</label>
    <input type="text" id="challenge_finish" name="challenge_finish">
    <br/>
    <label for="challenge_remove">Remove challenge:</label>
    <input type="text" id="challenge_remove" name="challenge_remove">
    <br/>
    <button type="submit">Go!</button>
</form>
{% endif %}