<html>
    <head>
        <title>CONGRATS {{ team_name }}</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
        <style>
            body {
                text-align: center;
                background-image: url("/static/boonary.png");
            }
            .pcontainer {
                color: white;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="vertical-center">
                <h1>Congrats {{team_name}} for winning!</h1>
                <img src="{{ team_logo }}" alt="{{ team['name'] }}" width="500" height="500">
                {% if players %}
                <div class="pcontainer">
                    <h2>The winning players are:</h2>
                    <ul>
                    {% for player in players %}
                        <li><p>{{player}}</p></li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </body>
</html>